.nav {
	width: 50%;
	display: flex;
    padding: 3rem 0;
    justify-content: center;
    @media (max-width: 1024px) {
        order: 3;
        width: 100%;
    }
    @media (max-width: 428px) {
        
        padding: 0;
    }
	&__list {
		display: flex;
		justify-content: center;
        flex-wrap: wrap;
	}
    
    &__item{
        margin-bottom: 0.375rem;
    }
}
