.user__categories-link,
.nav__link,
.photographer-infos__categories-link {
	display: block;
	border: 0.5px solid #c4c4c4;
	border-radius: 12px;
	padding: 0 0.5ch;
    &:before{
        content: "#";
    }
}
.nav__item:not(:first-child),
.photographer-infos__categories-item:not(:first-child){
		margin-left: 1ch;
	}
	.user__categories-item:not(:first-child){
		margin-left: 0.5ch;
	}

