html {
	font-family: "DM Sans", sans-serif;
}
.content-link{
	font-size: 1.125rem;
	line-height: 1.438rem;
	font-weight: bold;
}
.page-title,
.user__name {
	font-size: 2.25rem;
	font-weight: normal;
}
.page-title {
	color: #911c1c;
}
.user__name {
	color: #d3573c;
	line-height: 2.938rem;
}
.user__infos-location {
	font-size: 0.8125rem;
	line-height: 1.063rem;
	color: #911c1c;
}
.user__infos-catchphrase {
	font-size: 0.625rem;
	line-height: 0.8125rem;
}
.user__infos-price {
	font-size: 0.5625rem;
	line-height: 0.75rem;
	color: #757575;
}
.user__categories-link,
.nav__item {
	font-size: 0.75rem;
	line-height: 1rem;
	font-weight: 500;
	color: #911c1c;
}

.photographer-infos__name {
	font-size: 4rem;
	line-height: 5.208rem;
	color: #d3573c;
}

.photographer-infos__location {
	font-size: 1.5rem;
	line-height: 1.953rem;
	color: #911c1c;
}

.photographer-infos__catchphrase {
	font-size: 1.125rem;
	line-height: 1.465rem;
	color: #525252;
}
.photographer-infos__categories-link {
	font-size: 1.125rem;
	line-height: 1.465rem;
	font-weight: 500;
	color: #911c1c;
}
.photographer-infos__contact {
	font-size: 1.25rem;
	line-height: 1.628rem;
	font-weight: 700;
	color: #ffffff;
}

.photographer-medias__sort-label {
	font-size: 1.125rem;
	line-height: 1.465rem;
	font-weight: 700;
	color: #000000;
}
.photographer-medias__sort-button,
.photographer-medias__sort-list {
	font-size: 1.125rem;
	line-height: 1.465rem;
	font-weight: 700;
	color: #ffffff;
}
.media-card {
	font-size: 1.5rem;
	line-height: 1.5rem;
	color: #911c1c;
}

.media-card__price,
.media-card__like {
	font-size: 1.5rem;
	line-height: 1.5rem;
	font-weight: 500;
}

.contact-form__title {
	font-size: 4rem;
	line-height: 5.208rem;
	font-weight: 400;
}
.contact-form__label {
	font-size: 2.25rem;
	line-height: 2.938rem;
	color: #312e2e;
}
.contact-form__submit {
	font-size: 1.125rem;
	line-height: 1.465rem;
	color: white;
}
.lightbox-modal__title {
	font-size: 1.5rem;
	line-height: 1.953rem;
	color: #911c1c;
}
.photographer-widget {
	font-weight: 500;
	font-size: 1.5rem;
	line-height: 1.938rem;
}
@media (max-width: 428px) {
	.page-title,
	.user__name {
		font-size: 0.875rem;
		line-height: 1.125rem;
		font-weight: normal;
	}
	.user__name {
		font-size: 2.25rem;
		line-height: 2.938rem;
	}
	.photographer-infos__name {
		font-size: 2.25rem;
		line-height: 2.938rem;
	}
	.photographer-infos__location {
		font-size: 0.813rem;
		line-height: 1.063rem;
	}
	.photographer-infos__catchphrase {
		font-size: 0.813rem;
		line-height: 1.063rem;
	}
	.photographer-infos__categories-link {
		font-size: 0.813rem;
		line-height: 1.063rem;
		font-weight: 500;
		color: #911c1c;
	}
	.photographer-infos__contact {
		font-size: 1.125rem;
		line-height: 1.438rem;
		font-weight: 700;
	}
	.media-card__title {
		font-size: 0.875rem;
		line-height: 1.125rem;
	}
	.media-card__price {
		font-size: 0.75rem;
		line-height: 1rem;
	}
	.media-card__like {
		font-size: 0.875rem;
		line-height: 1.125rem;
	}
	.contact-form__title {
		font-size: 2.25rem;
		line-height: 2.938rem;
		font-weight: 400;
	}
	.contact-form__label {
		font-size: 1.5rem;
		line-height: 1.938rem;
	}
	.contact-form__submit {
		font-size: 1.125rem;
		line-height: 1.438rem;
	}
	.lightbox-modal__title {
		font-size: 0.875rem;
		line-height: 1.125rem;
		color: #911c1c;
	}
}
