.photographer-infos {
	display: flex;
	&__details,
	&__contact-wrap,
	&__img {
		width: calc(100% / 3);
	}
	&__details {
		text-align: left;
		padding-left: 9.375rem;
		& * {
			text-align: left;
		}
		@media (max-width: 1024px) {
			padding-left: 3.5%;
			width: calc(100% / 3 * 2);
		}
	}
	&__contact-wrap {
		text-align: left;
		@media (max-width: 1024px) {
			position: fixed;
			bottom: 2rem;
			width: 100%;
			display: flex;
			justify-content: center;
		}
	}
	&__contact {
		background: #911c1c;
		width: 10.625rem;
		height: 4.313rem;
		border: none;
		border-radius: 5px;
	}
	&__img {
		display: flex;
		justify-content: space-around;
		padding-right: 3.5%;
		@media (max-width: 1024px) {
			& .user__img {
				width: 29vw;
				height: 29vw;
				max-width: 200px;
				max-height: 200px;
			}
		}
	}
	&__categories-list {
		display: flex;
		flex-wrap: wrap;
		width: 100%;
	}
	&__categories-item {
		margin-bottom: 0.375rem;
	}
}
.photographer-medias {
	//display none to delete, used to style modals
	// display: none;
	justify-content: flex-start;
	padding: 3rem 0;
	width: 100%;
	&__sort-wrap {
		margin-bottom: 3rem;
		padding: 0 3.25rem;
		position: relative;
		@media (max-width: 1024px) {
			display: none;
		}
	}
	&__sort-list {
		display: none;
	}
	&__sort-button {
		position: relative;
		margin-left: 1.5rem;
		width: 10.625rem;
		height: 3.542rem;
		background: #911c1c;
		border: none;
		border-radius: 5px;
		&::after {
			content: "^";
			position: absolute;
			right: 1ch;
			top: 0.25rem;
			display: flex;
			align-items: center;
			height: 100%;
			z-index: 999;
		}
	}
	&__sort-list {
		width: 10.625rem;
		height: 10.625rem;
		background: #911c1c;
		border-radius: 5px;
		position: absolute;
		left: 9.563rem;
		top: 0;
	}
	&__sort-option {
		height: 3.542rem;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		&:nth-child(2) {
			border-top: 1px solid white;
			border-bottom: 1px solid white;
		}
	}
	&__sort-option-link{
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100%;
		width: 100%;
	}
	&__grid {
		width: 100%;
		display: grid;
		grid-template-columns: 31% 31% 31%;
		grid-auto-rows: 400px;
		grid-column-gap: 3.5%;
		grid-row-gap: 2rem;
		place-items: center;
		@media (max-width: 1024px) {
			grid-template-columns: 48.25% 48.25%;
			grid-auto-rows: 250px;
		}
		@media (max-width: 428px) {
			display: flex;
			flex-direction: column;
			align-items: center;
		}
	}
}

.media-card {
	width: 100%;
	max-width: 350px;
	@media (max-width: 428px) {
		max-width: none;
	}
	&__upper-body,
	&__lower-body {
		width: 100%;
	}
	&__img {
		width: 100%;
		height: 350px;
		object-fit: cover;
		border-radius: 5px;
		@media (max-width: 1024px) {
			width: 100%;
			height: 200px;
		}
		@media (max-width: 428px) {
			width: 100%;
			height: 200px;
		}
	}
	&__lower-body {
		display: flex;
		justify-content: space-between;
		padding: 1rem 0;
		text-align: left;
	}
	&__title {
		width: -moz-available;
		width: -webkit-fill-available;
		text-align: left;
		white-space: nowrap;
		overflow: hidden;

		text-overflow: ellipsis;
	}
	&__price,
	&__like {
		width: max-content;
		text-align: right;
		white-space: nowrap;
	}
	&__price {
		margin: 0 1ch;
	}
}

.contact-modal {
	//uncomment display to style modal
	position: fixed;
	z-index: 1000;
	background: rgba(196, 196, 196, 0.4);
	width: calc(100% + 3rem);
	height: 100vh;
	margin-left: -3rem;
	overflow-y: auto;
	// display: flex;
	justify-content: center;
	align-items: flex-start;
	&__wrap {
		position: relative;
		width: 30%;
		margin-top: 3rem;
		margin-bottom: 3rem;
		border-radius: 5px;
		background: #db8876;
		@media (max-width: 1024px) {
			width: 50%;
		}
		@media (max-width: 428px) {
			width: calc(100% - 2.5rem);
			min-height: 100vh;
			border-radius: 0;
			margin-top: 0;
			margin-bottom: 0;
		}
	}
	&__close {
		position: absolute;
		top: 1rem;
		right: 1rem;
		background: none;
		border: none;
		color: white;
		font-size: 2.625rem;
	}
	* {
		text-align: left;
	}
}
.contact-form {
	width: 100%;
	

	padding: 2.375rem 2.188rem;
	&__form {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		flex-wrap: wrap;
		label {
			width: 100%;
			input,
			textarea {
				width: 100%;
			}
		}
	}
	&__input {
		height: 2.938rem;
		border-radius: 5px;
		border: none;
	}
	&__textarea {
		height: 10.625rem;
		border-radius: 5px;
		border: none;
	}
	&__submit {
		width: 10.625rem;
		height: 3.542rem;
		background: #911c1c;
		border: none;
		border-radius: 5px;
		text-align: center;
	}
}

.lightbox-modal {
	position: fixed;
	z-index: 1000;
	width: calc(100% + 3rem);
	height: 100%;
	background: #e5e5e5;
	margin-left: -3rem;
	// display: flex;
	justify-content: center;
	align-items: flex-end;
	@media(max-width:428px){
			align-items: center;
		}

	&__wrap {
		height: calc(100% - 2.5rem);
		width: calc(100% - 10.75rem);
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		position: relative;
		@media(max-width:428px){
			height: calc(100% / 3);
			width: calc(100% - 3rem);
		}
	}
	&__img-wrap {
		width: calc(100% - 11.75rem);
		height: calc(100% - 5.25rem);
		@media(max-width:428px){
			height: calc(100% - 2.438rem);
			font-size: 0.827rem;
			width: calc(100% - 3rem - 3ch);
		}
	}
	&__img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		border-radius: 5px;
		-moz-box-shadow: 5px 0px 2px 0px #c4c4c4;
		-webkit-box-shadow: 5px 0px 2px 0px #c4c4c4;
		-o-box-shadow: 5px 0px 2px 0px #c4c4c4;
		box-shadow: 5px 0px 2px 0px #c4c4c4;
	}
	&__title-wrap {
		width: calc(100% - 11.75rem);
		height: 3.875rem;
		display: flex;
		align-items: center;
		@media(max-width:428px){
			height: 1.125rem;
		}
	}
	&__title {
		text-align: left;
	}
	&__close {
		width: 5.875rem;
		position: absolute;
		top: 2%;
		right: 0;
		background: none;
		border: none;
		color: #911c1c;
		font-size: 2.625rem;
		@media(max-width:428px){
			font-size: 0.827rem;
			width: 3ch;
		}
	}
	&__previous,
	&__next {
		width: 5.875rem;
		color: #911c1c;
		font-size: 3rem;
		@media(max-width:428px){
			font-size: 0.827rem;
			width: 3ch;
		}
	}
}
.photographer-widget {
	position: fixed;
	bottom: 0;
	right: 2.25rem;
	width: 23.5rem;
	height: 4.563rem;
	display: flex;
	align-items: center;
	background: #db8876;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	@media (max-width: 1024px) {
		display: none;
	}
	&__likes-wrap,
	&__price-wrap {
		width: 50%;
		display: flex;
		justify-content: center;
	}
	&__likes-button {
		margin-left: 0.39rem;
	}
}
